@charset "UTF-8";
body {
  background-color: #000000;
  background: radial-gradient(ellipse at right 34% bottom 5%, #33202a, #000000 80%, #000000);
  background-position: left;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  color: #f5f4f6;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #f5f4f6;
}
body::after {
  content: "";
  position: absolute;
  opacity: 0.3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(0deg, black, black 2px, transparent, transparent 4px);
  pointer-events: none;
}
body::before {
  content: "";
  position: absolute;
  z-index: 1000;
  opacity: 0.4;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(ellipse at right 34% bottom 5%, transparent 60%, #000000);
  pointer-events: none;
}

::-moz-selection {
  background: #33202a;
  text-shadow: none;
}

::selection {
  background: #33202a;
  text-shadow: none;
}

pre {
  margin: 0;
  white-space: pre-wrap;
  margin-bottom: 80vh;
  -webkit-animation: text-blink 0.01s steps(2) infinite;
          animation: text-blink 0.01s steps(2) infinite;
}

@-webkit-keyframes text-blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes text-blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
@-webkit-keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
#output:after {
  content: "▮";
  opacity: 1;
  -webkit-animation: blink 1s steps(1) infinite;
          animation: blink 1s steps(1) infinite;
}
#output.gw-writing:after {
  -webkit-animation: none;
          animation: none;
}
#output a {
  color: #fcab10;
  text-decoration: none;
  text-shadow: 0 0 5px #fcab10;
}
#output a:hover {
  font-weight: bold;
}
#output b {
  font-weight: normal;
}
#output b:hover {
  color: #5f5566;
  text-shadow: 0 0 5px #5f5566;
}
#output strong {
  font-weight: normal;
  color: #f05d5e;
  text-shadow: 0 0 5px #f05d5e;
}
#output i {
  color: #5f5566;
  text-shadow: 0 0 5px #5f5566;
  font-style: normal;
}

.wrapper {
  padding: 2rem;
  overflow-y: scroll;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.wrapper::-webkit-scrollbar {
  display: none;
}

.user-input {
  display: flex;
  display: none;
}

.incentive {
  color: #fcab10;
}

input {
  width: 100%;
  margin-left: 10px;
  background: transparent;
  outline: none !important;
  border: none !important;
  color: #f5f4f6;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #f5f4f6;
}

.logList{
    margin: 0;
}