@charset "UTF-8";
body {
  background-color: #000000;
  background: radial-gradient(ellipse at right 34% bottom 5%, #33202a, #000000 80%, #000000);
  background-position: left;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  color: #f5f4f6;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #f5f4f6;
}
body::after {
  content: "";
  position: absolute;
  opacity: 0.3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(0deg, black, black 2px, transparent, transparent 4px);
  pointer-events: none;
}
body::before {
  content: "";
  position: absolute;
  z-index: 1000;
  opacity: 0.4;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(ellipse at right 34% bottom 5%, transparent 60%, #000000);
  pointer-events: none;
}

::-moz-selection {
  background: #33202a;
  text-shadow: none;
}

::selection {
  background: #33202a;
  text-shadow: none;
}

pre {
  margin: 0;
  white-space: pre-wrap;
  margin-bottom: 80vh;
  -webkit-animation: text-blink 0.01s steps(2) infinite;
          animation: text-blink 0.01s steps(2) infinite;
}

@-webkit-keyframes text-blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
}

@keyframes text-blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
}
@-webkit-keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
#output:after {
  content: "▮";
  opacity: 1;
  -webkit-animation: blink 1s steps(1) infinite;
          animation: blink 1s steps(1) infinite;
}
#output.gw-writing:after {
  -webkit-animation: none;
          animation: none;
}

.wrapper {
  overflow-y: scroll;
  padding: 4rem;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.wrapper::-webkit-scrollbar {
  display: none;
}

.user-input {
  display: flex;
}

.hidden{
  display: none;
}

input {
  width: 100%;
  margin-left: 10px;
  background: transparent;
  outline: none !important;
  border: none !important;
  color: #f5f4f6;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #f5f4f6;
}

.logList{
    margin: 0;
}

.log{
  overflow-y: auto;
  -webkit-animation: text-blink 0.01s steps(2) infinite;
          animation: text-blink 0.01s steps(2) infinite;
}

/* COLORS */

.red{
  color: red;
}

.yellow{
  color: yellow;
}

.green{
  color: lime;
}

.black{
  color: black;
}

.absolute{
  position: absolute;
  top: 0;
  left: 0;
}

.jumpScare{
  width: 100vw;
  height: 100vh;
  object-fit: cover;  
}